bancoNew/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="dev.markitondemand.com"  doc:name="HTTP Request Configuration" port="80"/>
    <http:listener-config name="HTTP_request" host="0.0.0.0" port="8080" doc:name="HTTP Listener Configuration"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/clientes/{idCliente}/contas/{idConta}:application/json:api-config">
        <set-payload value="{&#xA;  &quot;agencia&quot;: &quot;3655&quot;,&#xA;  &quot;numeroConta&quot;: &quot;335588&quot;,&#xA;  &quot;tipo&quot;: &quot;ContaPoupanca&quot;,&#xA;  &quot;saldo&quot;: 50000&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/clientes/{idCliente}/contas/{idConta}:api-config">
        <set-payload value="{
  &quot;agencia&quot;: &quot;3655&quot;,
  &quot;numeroConta&quot;: &quot;335588&quot;,
  &quot;tipo&quot;: &quot;ContaPoupanca&quot;,
  &quot;saldo&quot;: 50000
}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/clientes:api-config">
        <set-payload value="{&#xA;  &quot;clientes&quot;: [{&#xA;    &quot;nome&quot;: &quot;Jose&quot;,&#xA;    &quot;cpf&quot;: &quot;376554849&quot;,&#xA;    &quot;endereco&quot;: &quot;Rua X, 1268&quot;&#xA;}, {&#xA;    &quot;nome&quot;: &quot;Maria&quot;,&#xA;    &quot;cpf&quot;: &quot;596559849&quot;,&#xA;    &quot;endereco&quot;: &quot;Rua Z, 358&quot;&#xA;  }]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/clientes/{idCliente}/contas:api-config">
        <set-payload value="{&#xA;  &quot;contas&quot;: [{&#xA;    &quot;agencia&quot;: &quot;3655&quot;,&#xA;    &quot;numeroConta&quot;: &quot;335588&quot;,&#xA;    &quot;tipo&quot;: &quot;ContaCorrente&quot;,&#xA;    &quot;saldo&quot;: 5000&#xA;}, {&#xA;    &quot;agencia&quot;: &quot;3655&quot;,&#xA;    &quot;numeroConta&quot;: &quot;335588&quot;,&#xA;    &quot;tipo&quot;: &quot;ContaPoupanca&quot;,&#xA;    &quot;saldo&quot;: 50000&#xA;  }]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/clientes/{idCliente}:api-config">
        <set-payload value="{&#xA;  &quot;nome&quot;: &quot;Maria&quot;,&#xA;  &quot;cpf&quot;: &quot;596559849&quot;,&#xA;  &quot;endereco&quot;: &quot;Rua Z, 358&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="/api/banco/mercado/pre&#231;o">
        <http:listener config-ref="HTTP_request" path="/api/banco/mercado/preco" doc:name="Copy_of_HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/MODApis/Api/v2/Quote" method="GET" doc:name="Copy_of_HTTP">
            <http:request-builder>
                <http:query-param paramName="symbol" value="#[message.inboundProperties.'http.query.params'.codigo]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Copy_of_Logger"/>
        <json:xml-to-json-transformer doc:name="Copy_of_XML to JSON"/>
    </flow>
    <flow name="/api/banco/mercado/pesquisa">
        <http:listener config-ref="HTTP_request" path="/api/banco/mercado/pesquisa" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/MODApis/Api/v2/Lookup" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="input" value="#[message.inboundProperties.'http.query.params'.codigo]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Logger"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
    </flow>
    <flow name="post:/clientes:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;mensagem: O cliente foi adicionado com sucesso&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/clientes/{idCliente}/contas:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;mensagem: A conta foi adicionado com sucesso&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
